body{
    text-align: center;
    background: #FFC107;
}

nav {
    margin-top: -15px;
}

.redes {
    height: 34px;
    width: 34px;
    margin-bottom: 5px;
    margin-top: -2px;
    color: black;
}

#titulo {
    margin-bottom: 0px;
}

h2 a i{
    height: 25px;
    width: 25px;
    text-decoration: none;
    color: black;
}

.logo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.btn {
    
    display: block;
    
    
}

.btn p a {
    padding: 10px;
    text-align: center;
    background: white;
    border-radius: 0px;
    border: solid 2px black;
    box-shadow: -5px 5px;
    width: 30%;
    color: black;

}

.btn p a {
    text-decoration: none;
}

.btn p :hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: rgb(255, 183, 48);
    margin-left: 10px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.copyr {
    text-align: left;
    margin-left: 40px;
    margin-top: -10px;
}

/*PRUEBAS

.row {
    
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    margin-top: 10px;
    margin-bottom: -25px;
}
*/



/*.btn {
    display: flex;
    flex-direction: column;
    width: 180px;
    text-decoration: none;
    margin-top: -8px;
}
.btn p{
    
    background: white;
    border: solid 2px black;
    padding: 5px;
    margin-top: 8px;
    border-radius: 0px;
    box-shadow: -5px 5px;
    color: black;
}


*/

